@charset "utf-8";
/* 서울랜드 공통요소 CSS - common.css */

/*그리드뷰 재정의*/
.grid{
    z-index: -1;
}

/*********1.상단영역***********/

/*상단영역파티션 높이*/
.t1{
    height: 87px;
}

/*로고*/
.logo img {
    margin-top: 6px;
    margin-left: -10px;
}

/*네비게이션 부모박스*/
.navbx{
    position: relative;
    /*부모자격*/
}
/*공통메뉴*/
.tmenu{
    position: absolute;
    top: 9px;
    right: 21px;
    /*부모? .navbx*/
    font-family: Nanum;
    font-size: 10px;
    font-weight: bold;
}
/*가상요로소 사이점 넣기*/
.tmenu li+li::before{
    content: "·";
    margin: 0 6px;
    font-size: 12px;
    vertical-align: 0px;
}




/*********4.하단영역***********/

/*하단영역 첫째줄 파티션 높이*/
.i1{
     height: 34px;
}
/*하단영역 둘째줄 파티션 높이*/
.i2{
    height: 96px;
}



