@charset "utf-8";
/* 서울랜드 공통요소 CSS - common.css */

/*그리드뷰 재정의*/
.grid{
    z-index: -1;
}

/*********1.상단영역***********/

/*상단영역파티션 높이*/
.t1{
    height: 87px;
}

/*로고*/
.logo img {
    margin-top: 6px;
    margin-left: -10px;
}

/*네비게이션 부모박스*/
.navbx{
    position: relative;
    /*부모자격*/
}
/*공통메뉴*/
.tmenu{
    position: absolute;
    top: 9px;
    right: 11px;
    /*부모? .navbx*/
    font-family: Nanum;
    font-size: 10px;
    font-weight: bold;
}
/*가상요로소 사이점 넣기*/
.tmenu li+li::before{
    content: "·";
    margin: 0 6px;
    font-size: 12px;
    vertical-align: 0px;
}

/*첫번째 a요소 글자색 변경하기*/
.tmenu li:first-child a{
    color: #f26522;
}

/*4번째 li의 세부조정*/
.tmenu li:nth-child(4) {
    transform: translateX(3px);
}

/*마지막 li에 가상요소 점 숨기기*/
.tmenu li:last-child::before{
    opacity: 0;
    /*display: none인 경우 기존 디자인이 틀어지므로
    투명하게 처리하는것이 좋겠다~*/
}

/*언어선택박스*/
#lang{
    width: 110px;
    height: 19px;
    font-family: arial;
    font-size: 11px;
    color: #979797;
    border: 1px solid #a8a8a8;
    padding-left: 4px;
    transform: translate(2px,-2px);
    /*다른요소에 영향없이 현재위치에서 살짝위치조정!*/
    box-shadow: 1px 1px 8px #d1d1d1 inset;
}
/*크롬 포커스 아웃라인 해제*/
#lang:focus{
    outline: none;
}




/*********4.하단영역***********/

/*하단영역 첫째줄 파티션 높이*/
.i1{
     height: 34px;
}
/*하단영역 둘째줄 파티션 높이*/
.i2{
    height: 96px;
}



