@charset "utf-8";
/*서울랜드 core.css - 웹폰트,전체설정*/

/*웹폰트*/
@font-face {
    font-family: Nanum;
    src: url(../fonts/NanumGothic.woff) format("woff");
}

/*공통*/
body {
    font-family: dotum, "돋움", sans-serif;
    color: #808080;
/*    word-spacing: -0.2em;*/
    line-height: 136%;
    font-size: 12px;
}

/*공통 class*/
/*속박스*/
.ibx{
    width: 960px;
    max-width: 100%;
    /*설정된 width보다 작아질때 화면에 꽉참*/
    margin: 0 auto;
    /*가로중앙*/
    outline: 2px dashed blue;
}

/*IR배경이미지설명*/
.bld{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}







