@charset "utf-8";
/* 서울랜드 메인페이지 CSS - main.css */
/* 메인페이지에만 나오는 요소를 코딩한다! */

/*외부파일 불러오기*/
@import url(gridSet.css);
@import url(gridView.css);
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/*메인페이지 전체 디자인보기*/
body{
    position: relative;
    /*가상요소의 부모*/
}
body::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /*크기는 부모를 기준함
    (body에 relative가 없으면 보이는 화면기준)*/
    background-image: url(../images/SeoulLand_main.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
    opacity: .5;
}

/*********** 2.배너영역 **************/
/*배너영역 파티션높이*/
.b1{
   height: 419px;
}
/*배너 겉박스*/
#ban{
    position: relative;
    /*부모자격*/
}
/*배너슬라이드*/
/*ul,li모두 absolute로 겹치게!*/
.slider, .slider li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*슬라이드 리스트 공통*/
.slider li{
    opacity: 0;
    
    /*트랜지션:속시이지*/
    transition: opacity .8s ease-in-out;
}
/*보이는 리스트 class*/
/*on이라는 클래스를 설정한 li 디자인*/
.slider li.on{
    opacity: 1;
    z-index: 1;
    /*현재 보이는 슬라이드가 맨위로 오게함!
    클릭가능!*/
}


/*슬라이드 개별셋팅*/
.slider li:nth-child(1){
    background: url(../images/ban00.jpg) no-repeat center;
}
.slider li:nth-child(2){
    background: url(../images/ban01.jpg) no-repeat center;
}
.slider li:nth-child(3){
    background: url(../images/ban02.jpg) no-repeat center;
}
.slider li:nth-child(4){
    background: url(../images/ban03.jpg) no-repeat center;
}
.slider li:nth-child(5){
    background: url(../images/ban04.jpg) no-repeat center;
}
.slider li:nth-child(6){
    background: url(../images/ban05.jpg) no-repeat center;
}

/*배너 중앙속박스*/
.ban{
    position: relative;
    /*부모자격*/
}

/*배너이동버튼*/
.abtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 25px;
    height: 49px;
    z-index: 2;/*배너리스트보다 위에 옴!*/
    /*outline: 2px solid red;*/
}
/*왼쪽이동버튼*/
.lb{
    left: -25px;
    background: url(../images/btn_shop_bn_left.png) no-repeat;
}
/*오른쪽이동버튼*/
.rb{
    right: -25px;
    background: url(../images/btn_shop_bn_right.png) no-repeat;
}
/*이동버튼 공통 마우스 오버시 배경이미지 위치변경하기*/
.abtn:hover{
    background-position: 0 -49px;
}




/*********** 3.컨텐츠영역 **************/
/*컨텐츠영역 파티션높이*/
.c1{
   height: 256px;
}




