@charset "utf-8";
/*grid_set.css*/


/* width % 크기 셋팅 */
.col-1 {
    width: 8.33%;
}

/*10개*/
.col-2 {
    width: 16.66%;
}

/*5개*/
.col-3 {
    width: 25%;
}

/*4개*/
.col-4 {
    width: 33.33%;
}

/*3개*/
.col-5 {
    width: 41.66%;
}

/*2개*/
.col-6 {
    width: 50%;
}

/*2개*/
.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.33%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    /*옆으로 흐르기*/
    padding: 10px;
    box-sizing: border-box;
    /*크기유지-보더,패딩 내부에 생김*/
    outline: 2px dotted blue;
}

/*float해제를 위한 class*/
.clb::after {
    content: "";
    display: block;
    clear: both;
}
