@charset "utf-8";
/*VOGUE PJ 메인 페이지 CSS - main.css */

/*공통외부css*/
@import url(core.css);
@import url(reset.css);
@import url(grid_bg.css);
@import url(grid_set.css);

/*각 영역별 셋팅*/
/***********1.상단영역***********/
.t1{
    height: 100px;
}
/*1-1.로고*/
#logo{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
/*로고이미지*/
#logo img{
    max-width: 100%;
    /*이미지크기보다 싸고 있는 박스가 작아지면 박스크기에 100% 맞춘다!*/
}
/*1-2.GNB메뉴*/
.gnb{
    position: absolute;
    bottom: 20px;
    right: 10px;
    /*나의부모? 싸고있는 파티션박스(prt클래스부여!)*/
}
.gnb li{
    padding: 0 13px;
    font-family: 'Play';
    font-size: 1.25rem;
    /*rem계산: 20px/16px=1.25rem*/
    font-weight: bold;
}
/*오버시 글자색*/
.gnb a:hover{
    color: #f00;
    text-decoration: overline;
}




/***********2.배너영역**************/
.b1{
    height: 100%;
    /*비율유지속박스의 높이값 만큼 채우기*/
}
/***********3.컨텐츠영역***********/
.c1{
    height: 100%;
    /*비율유지속박스의 높이값 만큼 채우기*/
}
/***********4.하단영역***********/
.i1{
    height: 275px;
}