@charset "utf-8";
/* VOGUE PJ 미디어쿼리 - media.css */

/*
    max-width를 사용할 경우 큰 사이즈에서 작은 사이즈 순으로
    아래쪽으로 내려가면서 코딩해야한다!
    (미디어쿼리는 같은 선택자일 경우 덮어쓰기로 적용되기 때문이다)
*/

/*1200px 이하 사이즈*/
@media only screen and (max-width:1200px) {

    /*전체글자 사이즈 조정
    글자크기 등을 모두 rem으로 구현했으므로
    html요소의 글자크기만 변경하면 모두 조정된다!*/

    html {
        font-size: 14px;
        /*기본은 16px인데 작아짐*/
    }




}

/*1200px 이하 미디어쿼리*/

/*1100px 이하 사이즈*/
@media only screen and (max-width:1100px) {

    /*1. 전체글자 사이즈 조정
    글자크기 등을 모두 rem으로 구현했으므로
    html요소의 글자크기만 변경하면 모두 조정된다!*/

    html {
        font-size: 12px;
        /*기본은 16px인데 작아짐*/
        /*예) 메뉴인 경우 1.25rem 으로 설정되었으므로
            12px * 1.25 = 15px*/
    }

    /*2. 로고이미지 변경하기*/
    .blogo {
        /*큰빨간로고 보이기*/
        display: inline;
    }

    .slogo {
        /*작은로고 숨기기*/
        display: none;
    }

    /*3. 로고 파티션박스 변경하기(중앙이동 및 겹치기)*/
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /*가로중앙이동*/
        width: 43%;
        /*박스가로 크기를 넓혀서 로고를 크게함*/
    }

    /*4. 파티션 박스의 높이값 변경(.t1)*/
    .t1 {
        height: 206px;
    }

    /*5. .gnb 를 싸고 있는 박스의 width 크기를 100%로 변경(#gnb)*/
    #gnb {
        width: 100%;
    }


    /*6. .gnb를 오른쪽 기준을 없애고 왼쪽에서 중앙으로 이동*/
    .gnb {
        right: auto;
        /*기존right값 해제*/
        left: 50%;
        transform: translateX(-50%);
    }



}

/*1100px 이하 미디어쿼리*/



/*1024px 이하 사이즈*/
@media only screen and (max-width:1024px) {

    /*1. .gnb 없애기*/
    .gnb {
        display: none;
    }

    /*2. 햄버거,검색버튼 보이기*/
    #ham,
    #magni {
        display: block;
    }

    /*3. 상단영역 높이값(.t1) 120px로 변경*/
    .t1 {
        height: 120px;
    }

    /*4. 로고파티션 박스 가로크기변경(이미지크기 변경위해)*/
    .logo {
        width: 26%;
    }

    /*5. 컨텐츠영역 메뉴로고 한줄에 2개씩오게하기*/
    #mban li,
    #mban li:last-child {
        width: 50%;
    }




}

/*1024px 이하 미디어쿼리*/



/*500px 이하 사이즈*/
@media only screen and (max-width:500px) {

    /*1.글자크기변경*/
    html {
        font-size: 16px;
    }

    /*2.모바일사이즈 가로스크롤 없애기*/
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    /*3.상단영역 높이 변경*/
    .t1 {
        height: 60px;
    }

    /*4.로고 박스 가로크기 변경(로고크기변경)*/
    .logo {
        width: 35%;
    }

    /*5. 컨텐츠 영역의 col-로 된 파티션 class의 
    width값을 100%로 변경+패딩없애기*/
    .cont [class*="col-"] {
        width: 100%;
        padding: 0;
    }

    /*6. 컨텐츠 영역의 비율유지설정을 없앤다!*/
    .rbx2::before {
        display: none;
    }

    /*7. 컨텐츠 영역의 비율유지 속박스의 
    position을 static처리*/
    .cont .ibx {
        position: static;
    }

    /*8. 메뉴배너의 li 가로크기를 100%로 변경, 
    높이값 설정+패딩없애기*/
    #mban li,
    #mban li:last-child {
        width: 100%;
        height: 260px;
        padding: 0;
    }

    /*9. 배너 비율변경하기*/
    .rbx::before {
        padding-top: 58%;
    }

    /*10. 전체 배경색 검정*/
    body {
        background-color: #000;
    }

    /*11. 상단영역 배경 흰색*/
    .top {
        background-color: #fff;
    }

    /*12. 패딩없애기*/
    #news li:first-child,
    #news li:last-child {
        padding: 0;
    }

    /*13. 햄버거버튼 변경*/
    #ham {
        left: 0;
        font-size: 30px;
    }

    /*14. 뉴스글자조정*/
    .atit {
        height: 5.5rem;
        line-height: 2rem;
        padding: 21px;
    }

    /*15. 하단 배경로고*/
    #info {
        height: 220px;
        background-position: center 37px;
        background-size: 240px;
        overflow: hidden;
    }

    /*16. 하단주소*/
    #info address {
        bottom: 13px;
        padding: 22px;
        box-sizing: border-box;
    }



}

/*500px 이하 미디어쿼리*/
