@charset "utf-8";
/* 세계의 도시 메인페이지 CSS - main.css */

 @import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|East+Sea+Dokdo|Jua&display=swap');
/*
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Jua', sans-serif;

*/


html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
    background-image: linear-gradient(to bottom, #777 30%, #ccc 70%);
}

/*1. 전체제목*/
.tit{
    text-align: center;
    padding-top: 50px;font-family: 'Black And White Picture', sans-serif;
    font-size: 50px;
    color: #fff;
    background: url(../images/citybg.png) no-repeat center/auto 100%;
}

/*2. 메뉴*/
.city{
    position: fixed;
    top: 50px;
    right: 50px;
}
.city ul{
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    
    /*원근설정(원근대상의 부모에 준다!*/
    perspective: 480px;
}
.city li{
    height: 100px;
    background-image: linear-gradient(to right, transparent, blue);
    /*transparent는 투명을 지칭하는 키워드(만약 이 키워드대신 쓸수 있는것은 rgba로 투명만들기를 할 수 있음)*/
    
    /*트랜스폼 회전축 기준변경*/
    transform-origin: right;
    
    /*트랜지션:속시이지*/
    transition: transform .4s ease-out;
    /*트랜스폼만 애니적용!*/
}

/*마우스오버시*/
.city li:nth-child(1):hover{
    background-image: linear-gradient(to right, transparent, red);
    transform: rotateY(15deg);
}
.city li:nth-child(2):hover{
    background-image: linear-gradient(to right, transparent, orange);
    transform: rotateY(30deg);
}
.city li:nth-child(3):hover{
    background-image: linear-gradient(to right, transparent, yellow);
    transform: rotateY(-35deg);
}
.city li:nth-child(4):hover{
    background-image: linear-gradient(to right, transparent, orangered);
    transform: rotateY(55deg);
}
.city li:nth-child(5):hover{
    background-image: linear-gradient(to right, transparent, cyan);
    transform: rotateY(-55deg);
}
.city li:nth-child(6):hover{
    background-image: linear-gradient(to right, transparent, #00ffb1);
    transform: rotateY(20deg);
}


.city a{
    display: block;
    /*디자인적용위해*/
    width: 100%;
    height: 100%;
    font: bold 52px/100px 'East Sea Dokdo', cursive;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

/*3.큐브박스*/
.cube{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%,-50%) rotateX(10deg) rotateY(30deg);
    
    /*입체설정*/
    transform-style: preserve-3d;
    
    
    outline: 2px solid #000;
}

/*큐브 각면 공통*/
.cube>span{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
}
/*앞면: 시작면*/
.cube>span:nth-child(1){
    background: url(../images/cityMain.jpg) no-repeat center/cover;
}








