@charset "utf-8";
/*언프리티 메인페이지 CSS - main.css*/

/*공통*/
html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
/*공통class*/
.dn{/*안보임처리*/
    display: none;
}
.bld{/*IR*/
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*디자인검수용*/
#dsn{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*가로방향 중앙이동*/
    opacity: .5;
    display: none;
    z-index: 10;
}

/*전체박스*/
.wrap{
    position: relative;
    /*부모자격*/
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background: url(../images/bg.jpg) no-repeat;
}

/*로고박스*/
.logo{
    position: absolute;
    /*위치값없으면 젠틀!, 크기주안주면 내용만큼!*/
    top: 20px;
    left: 2%;
    /*나의부모? .wrap*/
    width: 96%;
    /*가로크기 주기*/
}
/*두번째 로고 오른쪽 끝으로!*/
.logo img:last-child{
    float: right;
}

/*메인로고*/
#mlogo{
    position: absolute;
    top: 51%;
    left: 50%;
    /*나의부모? .wrap*/
    transform: translate(-50%,-50%);
    /*정중앙이동!*/
}


/*랩퍼컨텐츠 박스*/
.cont{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*잡아늘려 채우기!*/
}

/*랩퍼박스 공통*/
.rapper{
    position: absolute;
    /*부모는? .cont*/
    width: 170px;
    height: 170px;
    border: 10px solid #ccc;
    border-radius: 50%;/*원*/
    box-sizing: border-box;
    /*보더,패딩을 포함하는 박스*/
}
/*뮤지션공통*/
.mu{
    position: absolute;
    top: -10px;
    left: -10px;
    /*부모내부 보더만큼이동*/
    /*부모? .rapper*/
    width: 100%;
    height: 100%;
    
    /*배경설정*/
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 230px;
    
    /*배경개별설정*/
    background-image: url(../images/01ash-b.png);
    background-position: -50px 10px;
    
    border: 10px solid #ccc;
    border-radius: 50%;
}

















