@charset "utf-8";
/* My Item PJ 공통 CSS - common.css */

/************ 전체부모박스 *************/
.wrap{
    width: 1000px;
    margin: 0 auto;
    /*가로중앙정렬-마영오*/
    background-color: #fff;
    /*배경흰색*/
}
/*표시*/
.wrap>*{
    outline: 2px dashed blue;
}

/*************** 1.상단영역 ********************/
#top{
    height: 130px;
}

/*************** 2.컨텐츠영역 ********************/
#cont{
    min-height: 500px;
    /*
        min-height는 최소 설정된 높이를 유지하다가
        내용이 넘칠경우 높이값이 늘어나는 설정이다!
    */
}

/*************** 3.하단영역 ********************/
#info{
    height: 90px;
}











