@charset "utf-8";
/*My Item PJ 오시는길 CSS - location.css*/

/*외부css파일 합치기*/
@import url(core.css);
@import url(reset.css);
@import url(common.css);

/*타이틀*/
.tit{
    width: 700px;
    height: 45px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 20px;
    line-height: 45px;
    color: #777;
    text-shadow: 1px 1px 1px #999;
    outline: 1px solid red;
}
/*가상요소로 아이콘 넣기*/
.tit::before{
    content: url(../images/loca_icon.png);
    vertical-align: -12px;
    margin-right: 13px;
    margin-left: 5px;
}

/*지도메뉴*/
.menu{
    width: 700px;
    margin: 5px auto;
}
.menu a{
    margin: 0 9px;
}






