@charset "utf-8";
/*My Item PJ 회원가입 CSS - member.css*/

/*외부css파일 합치기*/
@import url(core.css);
@import url(reset.css);
@import url(common.css);

/*컨텐츠 박스*/
#cont{
    overflow: hidden;
    /*자식 블록요소 마진탑 포함!*/
}

/*타이틀*/
.tit{
    width: 700px;
    height: 45px;
    margin: 0 auto;
    margin-top: 80px;
    /*블록박스 첫번째 요소의 마진탑은
    부모요소 바깥으로 나간다!
    부모가 overflow:hidden이면 포함됨!*/
    font-size: 20px;
    line-height: 45px;
    color: #777;
    text-shadow: 1px 1px 1px #999;
    outline: 1px solid red;
}
/*가상요소 아이콘 넣기*/
.tit::before{
    content: url(../images/mem_icon.png);
    vertical-align: -10px;
    margin-left: 5px;
    margin-right: 18px;
}









