@charset "utf-8";
/*My Item PJ 프로필 페이지 CSS - profile.css*/

/*외부css파일 합치기*/
@import url(core.css);
@import url(reset.css);
@import url(common.css);

/*메인영역 재정의*/
#cont{
    height: 590px;
}

/*아이폰 부모박스*/
#iphone{
    position: relative;
    /*부모자격*/
    top: 100px;
    width: 200px;
    height: 400px;
    margin: 0 auto;/*마영오*/
    
    /*트랜스폼 3D설정하기*/
    transform-style: preserve-3d;
    transform: rotateY(30deg) rotateX(10deg);
    outline: 2px solid red;
}

/*공통 li 각면*/
#iphone li{
    position: absolute;
    /*부모? #iphone*/
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*앞면*/
#iphone li:nth-child(1){
    background-image: url(../images/ip01.png);
    transform: translateZ(10px);
    /*화면앞으로 z축 이동하기*/
    display: none;
}
/*왼쪽(음량스위치)*/
#iphone li:nth-child(2){
    background-image: url(../images/ip04.png);
    width: 20px;
}





