@charset "utf-8";
/* 메인 css - main.css */

@import url(base.css);
@import url(reset.css);

/*공통 class*/
.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*IR class*/
.ir{
    display: block;
    overflow: hidden;
    text-indent: -1000em;
    /*글자들여쓰기로 글자숨기기*/
}

/*숨김class*/
.bld {
    display: none;
}

/*******************/
/*1.상단영역*/
.top{
    
}
/*2.배너영역*/
.ban{
    background: #ffc8c8;
}
/*3.남자패션영역*/
.men{
    background: #8682ff;
}
/*4.여자패션영역*/
.women{
    background: #9ffff0;
}
/*5.스타일영역*/
.style{
    background: #f963ff;
}
/*6.하단영역*/
.info{
    background: #edff67;
}










