@charset "utf-8";
/* 메인 css - main.css */

@import url(base.css);
@import url(reset.css);

/*공통 class*/
.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*IR class*/
.ir {
    display: block;
    overflow: hidden;
    text-indent: -1000em;
    /*글자들여쓰기로 글자숨기기*/
}

/*숨김class*/
.bld {
    display: none;
}

/*******************/
/*1.상단영역*/
.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /*높이는 자동!*/
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999;
    /*가장위!*/
}

/*1-1.로고*/
#logo {
    width: 14vw;
    /* vw단위는 보이는 화면기준*/
    min-width: 150px;
    /*최소한계크기 지정*/
    padding: 30px 0 20px 25px;
}

#logo img {
    width: 100%;
    /* %단위는 싸고있는 부모요소 기준*/
}

/*1-2.메뉴*/
#gnb {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

#gnb li {
    font: 2rem 'Ubuntu';
    /* Root가 10px * 2rem = 20px임! */
    padding: .6rem;
}

#gnb li a {
    color: #fff;
}

/*마우스오버시,선택on메뉴*/
#gnb li:hover a,
#gnb li.on a {
    color: aqua;
}

/*1-3.햄버거버튼*/
#ham {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    /*세로중앙이동*/

    width: 40px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /*손가락모양*/
}

#ham span {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #fff;
    /*트랜지션*/
    transition: all .3s ease-in-out;
}

/*햄버거 막대 기본상태*/
#ham span:nth-child(1) {
    top: 0;
    left: 0;
}

#ham span:nth-child(2) {
    top: 10px;
    left: -50%;
}

#ham span:nth-child(3) {
    top: 20px;
    left: 0;
}

/*마우스 오버시 중앙막대 들어옴*/
#ham:hover span:nth-child(2) {
    left: 0%;
}


/*햄버거 막대 변경상태(클래스 on적용)*/
#ham.on span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

#ham.on span:nth-child(2) {
    left: 50%;
    width: 0;
}

#ham.on span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
}

/*햄버거버튼 포커스 테두리없애기*/
#ham:focus {
    outline: none;
}

/*2.배너영역*/
.ban {
    position: relative;
    /*부모자격*/
}

/*배너슬라이드*/
.slide {
    position: absolute;
    left: -100%;
    /*끝슬라이드 왼쪽에 나가있음!*/
    width: 600vw;
    /*보이는 화면의 6배(슬라이드 6장)*/
    height: 100vh;
    display: flex;
}

.slide > li {
    position: relative;
    /*부모자격 - 슬라이드 타이틀*/
    flex: 1;
    /*등분할*/
    float: none;
    /*공통float해제*/
}

/*개별 슬라이드 
- 고유한 클래스로 배경이미지 셋팅*/
.slide > li.ban1 {
    background: url(../images/ban01New.jpg) no-repeat center/cover;
}

.slide > li.ban2 {
    background: url(../images/ban02New.jpg) no-repeat center/cover;
}

.slide > li.ban3 {
    background: url(../images/ban03New.jpg) no-repeat center/cover;
}

.slide > li.ban4 {
    background: url(../images/ban04New.jpg) no-repeat center/cover;
}

.slide > li.ban5 {
    background: url(../images/ban05New.jpg) no-repeat center/cover;
}

.slide > li.ban6 {
    background: url(../images/ban06New.jpg) no-repeat center/cover;
}

/*배너이동시 보호막*/
.prot {
    position: absolute;
    /*부모? .ban*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background-color: #f00;*/
    /*opacity: .5;*/
    display: none;
    /*처음에 숨김*/
}

/*블릿박스*/
.indic {
    position: absolute;
    left: 1.5%;
    bottom: 4%;
    width: 168px;
    height: 10px;
    z-index: 1;
}

.indic > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 9px;
    background-color: #ccc;
    opacity: .5;
}

.indic a {
    display: block;
    width: 100%;
    height: 100%;
}

/*선택블릿on*/
.indic li.on {
    background-color: #fff;
    opacity: 1;
}




/*3.남자패션영역*/
.men {
    background: #8682ff;
}

/*4.여자패션영역*/
.women {
    background: #9ffff0;
}

/*5.스타일영역*/
.style {
    background: #f963ff;
}

/*6.하단영역*/
.info {
    background: #edff67;
}
