@charset "utf-8";
/*디스커버리 미디어쿼리 - media.css*/

/*모바일 미디어쿼리 - 500px이하*/
@media only screen and (max-width:500px) {

    /* 1. body에 스크롤바 생성하기*/
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* 2. 숨기기 */
    /*배너 양쪽이동 버튼 영역, 
    GNB메뉴, 블릿메뉴*/
    .btna,
    #gnb, .bnav {
        display: none;
    }

    /* 3. 로고 중앙 */
    #logo {
        padding: 30px 0 20px;
        margin: 0 auto;
    }
    
    /* 4. 전체 페이지공통 높이값 제거 */
    .page{
        height: auto;
    }
    
    /* 5. 배너 포지션 및 높이값 변경 */
    .slide{
        position: relative;
        height: 60vh;
    }




}

/*모바일 미디어쿼리*/
